---
import Header from '../Header/Header.astro';
import Main from '../Main/Main.astro';
import Footer from '../Footer/Footer.astro';
import './LandingPage.css';
---

<div class="landing-page">
  <Header />
  <Main />
  <Footer />
</div>