---
import './MapSection.css';
---

<section class="section-mapa">
  <h2>Nuestra Ubicación</h2>
  <div class="mapa-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3149.6105940680286!2d-4.186103924112038!3d37.86940097196172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzfCsDUyJzA5LjgiTiA0wrAxMScwMC43Ilc!5e0!3m2!1ses!2ses!4v1729846086198!5m2!1ses!2ses"
      style="border:0;"
      allowfullscreen
      allow="fullscreen"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <p>Encuéntranos en Porcuna, en la provincia de Jaén, donde la tradición olivarera se une con la innovación para crear el mejor aceite.</p>
</section>