.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-olive-900);
  color: var(--color-olive-50);
  text-align: center;
  padding: 1rem;
  font-style: italic;

  .social-icons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .social-icon {
          margin: 0 0.5rem;

          img {
              width: 24px;  
          }
      }
  } 

  .copyright {
      color: var(--color-olive-50);
      font-size: 1rem;
  }
}